@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
}
body {
  background-color: #1E1E1E;
}
a {
  text-decoration: none;
}
